{% extends 'blog/../base.html' %}


{% block main_section %}
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|striptags|truncatechars:200 }}</p>
            <div class="row">
                <div>
                    {% if post.avtor.profile.img %}
                        <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_image">
                    {% else %}
                        <img src="/media/default.jpg" alt="{{ post.avtor }}" class="user_image">
                    {% endif %}
                </div>
                <div class="mt-2">
                    <span class="text-muted"><b>Дата:</b> {{ post.date|date:"d E Y, в H:i:s" }}</span>

                    <p><b>Автор:</b>
                        <mark>{{ post.avtor }}</mark>
                    </p>
                </div>
            </div>
            <a href="{% url 'detail-news' post.pk %}" class="btn btn-outline-warning">Читать далее</a>

        </div>
    {% endfor %}
{% endblock main_section %}

{% block aside_section %}
    <div class="p-3 rounded">
        <h3>
            <b>Новости</b>
        </h3>
        <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores, earum error iste
            maxime
            pariatur quo totam ullam ut vero. Animi cum cupiditate dignissimos ea earum, esse, facilis hic ipsam
            itaque nisi non odio officia quasi quis reiciendis voluptas voluptatem?
        </p>
    </div>

    <div class="p-3">
        <img src="https://i.ytimg.com/vi/cmjFuzQNMio/maxresdefault.jpg" alt="" class="img-thumbnail">
    </div>
{% endblock aside_section %}